@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanchenjunga:wght@400;500;600;700&family=Playwrite+NO:wght@100..400&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanchenjunga:wght@400;500;600;700&family=Noto+Sans+Thaana:wght@100..900&family=Playwrite+NO:wght@100..400&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
/*Encabezado*/
.Encabezado{
    width: 100%;
    height: 300px;
    background: url('./img/textura.jpg') no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Logo{
    height: 450px;
    padding-top: 100px;
    filter: drop-shadow(15px 20px 8px rgb(74, 74, 134));
}
#LogoT{
    font-family: "Kablammo", system-ui;
    font-size: 100px;
    color: rgb(36, 13, 58);
    text-shadow: 8px 8px 15px rgba(191, 189, 189, 0.959);
}
.indice{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 20px;
}
.indice li{
    list-style: none;
    font-size: 40px;
    font-family: "Pacifico", cursive;
    background: rgb(154, 154, 228);
    border-radius: 15px;
    padding: 0px 15px;
    opacity: 0.5;
    color: aqua;
}
.indice li:hover{
    opacity: 1;
}

/*Secciones*/
.secciones{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}
.historia{
    width: 70%;
}
.titulos{
    font-family: "Kanchenjunga", sans-serif;
    font-weight:900;
    display: flex;
    justify-content: center;
    font-size:60px;
    padding: 20px 0;
}
.parrafos{
    font-family: "Noto Sans Thaana", sans-serif;
    line-height: 1.5;
}
#mega{
    width: 450px;
    height: 400px;
    object-fit: cover;
    border-radius: 50px 25px;
    corner-shape:scoop;
    padding-top: 25px;
}
.centrar{
    width: 100%;
    display: flex;
    justify-content: center;
}
#Video{
    width: 200px;
    height: 300px;
    border-radius: 50%;
    transition: 0.7s;
    margin-top: 25px;
    margin-bottom: 30px;
    cursor: url('./img/Logo.png'),auto;
}
#Video:hover{
    width: 450px;
    height: 400px;
    border-radius: 0;
    padding-top: 25px;
    cursor: url('./img/Logo.png'),auto;
}
footer{
    width: 100%;
    height: 200px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
footer img{
    width: 80px;
}
footer p{
    color: aqua;
    font-size: 30px;
    margin-top: 20px;
}
#CenterF{
    display: flex;
    gap: 30px;
}